html, body, #root {
  user-select: none;          /* основное свойство */
  -webkit-user-select: none;  /* Safari */
  -ms-user-select: none;      /* IE/Edge */
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

input, textarea {
  user-select: text;
}