html, body, #root {
  user-select: none;          /* основное свойство */
  -webkit-user-select: none;  /* Safari */
  -ms-user-select: none;      /* IE/Edge */
  overflow-y: scroll;       /* чтобы не прыгала верстка */
  -webkit-overflow-scrolling: touch; /* плавный скролл */
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
  overflow-y: scroll; /* чтобы не прыгала верстка */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 0 !important;      /* скрыть полосу */
  height: 0 !important;
}

input, textarea {
  user-select: text; /* разрешаем выделение только внутри форм */
}