.link {
  text-decoration: none;
  color: var(--tg-theme-link-color);
  display: contents;
}

.nav-link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}